h1, p, input { 
    font-family:monospace;
    position: center;
}

#speechContainer { 
    margin: 20px;
}

#submitButton { 
    background-color:cornflowerblue; 
    color: black;
    border-radius: 30px; 
    border: none; 
    padding: 10px 20px;
    margin-top: 20px;
}

#submitButton:hover { 
    cursor: pointer;
}

#speechText { 
    font-size: 18px;
    width: 500px;
}